<!DOCTYPE html>
<html>
  <head>
    <title>GPT-2 Text Generation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>GPT-2 Text Generation</h1>
    <input type="text" id="inputText" placeholder="Enter your text here" />
    <input
      type="number"
      id="maxLength"
      value="50"
      min="1"
      step="1"
      placeholder="Max Length"
    />
    <button onclick="generateText()">Generate</button>
    <p><strong>Generated Text:</strong></p>

    <p>
      <strong>Generation Time:</strong>
      <span id="generationTime"></span> seconds
    </p>

    <p id="generatedText"></p>
    <select id="modelSelect">
      <option value="gpt2">GPT-2</option>
      <option value="gpt2-medium">GPT-2 Medium</option>
    </select>

    <script>
      function generateText() {
        var inputText = document.getElementById("inputText").value;
        var maxLength = document.getElementById("maxLength").value;
        var selectedModel = document.getElementById("modelSelect").value;
        var startTime = new Date().getTime();

        $.ajax({
          url: "http://localhost:5001/generate",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({
            text: inputText,
            max_length: maxLength,
            model: selectedModel,
          }),
          success: function (response) {
            var endTime = new Date().getTime();
            var generationTime = (endTime - startTime) / 1000;

            document.getElementById("generatedText").innerText =
              response.generated_text;
            document.getElementById("generationTime").innerText =
              generationTime.toFixed(3);
          },
          error: function (error) {
            console.log("Error:", error);
          },
        });
      }
    </script>
  </body>
</html>
